.pokedex-container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
}

.pokedex-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pokedex-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  padding: 10px;
  margin: 0;
  gap: 10px;
}

.pokedex-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  min-height: 305px;
  max-width: 200px;
  padding: 8px;
  width: 100%;
}

.pokedex-card img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0 8px;
}

.pokedex-card header {
  margin-bottom: 16px;
}

.pokedex-card p {
  margin-bottom: 8px;
}

.pokedex-card span {
  display: block;
  width: 100%;
}

.pokedex-card p,
.pokedex-card span,
.pokedex-card header {
  text-align: center;
}

.pokedex-card p {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pokedex-card[data-type="fighting"],
.pokedex-card[data-type="normal"],
.pokedex-card[data-type="flying"],
.pokedex-card[data-type="fairy"],
.pokedex-card[data-type="ghost"] {
  background-color: hsl(0, 0%, 95%);
}

.pokedex-card[data-type="water"] {
  background-color: hsl(240, 100%, 95%);
}

.pokedex-card[data-type="ice"] {
  background-color: hsl(195, 53%, 95%);
}

.pokedex-card[data-type="grass"] {
  background-color: hsl(120, 100%, 95%);
}

.pokedex-card[data-type="fire"],
.pokedex-card[data-type="dragon"] {
  background-color: hsl(0, 68%, 95%);
}

.pokedex-card[data-type="ground"],
.pokedex-card[data-type="bug"] {
  background-color: hsl(0, 59%, 95%);
}

.pokedex-card[data-type="rock"],
.pokedex-card[data-type="steel"] {
  background-color: hsl(0, 0%, 95%);
}

.pokedex-card[data-type="electric"] {
  background-color: hsl(60, 100%, 95%);
}

.pokedex-card[data-type="psychic"],
.pokedex-card[data-type="poison"] {
  background-color: hsl(300, 100%, 95%);
}

.pokedex-card[data-type="dark"] {
  background-color: hsl(0, 0%, 95%);
}
